{% extends "main/base.html" %}
{% load static %}

{% block main-content %}

<!-- Content Header (Page header) -->	  
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h4 class="page-title">Appointments</h4>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
                    </ol>
                </nav>
            </div>
        </div>
        
    </div>
</div>

<!-- Main content -->
<section class="content">
  <div class="row">	
      <div class="col-12">
          <div class="box">
              <div class="box-body">
                  <div id="calendar"></div>
              </div>
          </div> 
      </div>			   
    </div>
</section>
<!-- /.content -->

{% endblock main-content %}

{% block scripts %}
<script src="{% static 'assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/vendor_components/perfect-scrollbar-master/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor_components/fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.min.js' %}"></script>
{% endblock scripts %}

{% block dashboard %}
<script src="{% static 'js/pages/appointments.js' %}"></script>
{% endblock dashboard %}

{% comment %} {% block scripts %}
	<!-- Vendor JS -->
	<script src="{% static 'vendors.min.js' %}"></script>
	<script src="{% static 'pages/chat-popup.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>	
    <script src="{% static 'assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/perfect-scrollbar-master/perfect-scrollbar.jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fullcalendar/lib/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.min.js' %}"></script>
	
	<!-- Rhythm Admin App -->
	<script src="{% static 'template.js' %}"></script>
	
{% endblock scripts %} {% endcomment %}