{% extends "main/base.html" %}
{% load static %}

{% block main-content %}

<!-- Content Header (Page header) -->	  
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h4 class="page-title">Community Worker List</h4>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Community Worker List</li>
                    </ol>
                </nav>
            </div>
        </div>
        
    </div>
</div>
  
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive rounded card-table">
                        <table class="table border-no" id="example1">
                            <thead>
                                <tr>
                                    <th>Community Worker ID</th>
                                    <th>Community Worker F.Name</th>
                                    <th>Community Worker L.Name</th>
                                    <th>Disrict</th>
                                    <th>Cell</th>
                                    <th>Village</th>
                                    <th>No of Assigned Patient</th>
                                    <th>Health Center</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for community_worker in community_workers %}	
                                <tr class="hover-primary">
                                    <td>#{{community_worker.id}}</td>
                                    <td>{{community_worker.first_name}}</td>
                                    <td>{{community_worker.last_name}}</td>
                                    <td>{{community_worker.district}}</td>
                                    <td>{{community_worker.sector}}</td>
                                    <td>{{community_worker.cell}}</td>
                                    <td><span class="badge badge-danger-light">{{community_worker.health_facility}}</span></td>
                                    <td>												
                                        <div class="btn-group">
                                          <a class="hover-primary dropdown-toggle no-caret" data-bs-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'patient-detail' 1 %}"><i class="glyphicon glyphicon-eye-open"></i>View Details</a>
                                            <a class="dropdown-item" href="#"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i class="glyphicon glyphicon-remove-sign"></i>Delete</a>
                                          </div>
                                        </div>
                                    </td>
                                </tr>	
                              {% endfor %}								
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>			
</section>
<!-- /.content -->

{% endblock main-content %}

{% block scripts %}

<script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
{% endblock scripts %}