{% extends "main/base.html" %}
{% load static %}

{% block main-content %}

<!-- Content Header (Page header) -->	  
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h4 class="page-title">Doctors</h4>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Doctors</li>
                    </ol>
                </nav>
            </div>
        </div>
        
    </div>
</div>  

<!-- Main content -->
<section class="content">

    <div class="row">
      {% for doctor in doctors %}
        <div class="col-12 col-lg-4">
          <div class="box ribbon-box">
            <div class="ribbon-two ribbon-two-primary"><span>Full Time</span></div>
            <div class="box-header no-border p-0">				
              <a href="#">
                {% if doctor.profile_pic %}
                <img class="img-fluid" src="{{doctor.profile_pic.url}}" alt="">
                {% else %}
                <img class="img-fluid" src="{% static 'images/user.png' %}" alt="">
                {% endif %}
              </a>
            </div>
            <div class="box-body">
                  <div class="user-contact list-inline text-center">
                      <a href="#" class="btn btn-circle mb-5 btn-facebook"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="btn btn-circle mb-5 btn-instagram"><i class="fa fa-instagram"></i></a>
                      <a href="#" class="btn btn-circle mb-5 btn-twitter"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="btn btn-circle mb-5 btn-warning"><i class="fa fa-envelope"></i></a>				
                  </div>
                <div class="text-center">
                  <h3 class="my-10"><a href="#">{{doctor.first_name}} - {{doctor.last_name}}</a></h3>
                  <h6 class="user-info mt-0 mb-10 text-fade">{{doctor.health_facility}}</h6>
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

</section>
<!-- /.content -->


{% endblock main-content %}